In [25]:
import numpy as np 
import sqlalchemy 
import pandas as pd 
import pandas_datareader as web
import engine_key

In [63]:
df = pd.read_csv('sp500.csv')

In [73]:
df.head(2)

   company_id ticker     company_name       sector
0           0    MMM       3M Company  Industrials
1           1    AOS  A.O. Smith Corp  Industrials

In [56]:
#dump the df into table

In [58]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:{}@localhost:3306/testing".format(engine_key.key))

In [66]:
df['company_id'] = df.index

In [74]:
df.head(2)

   company_id ticker     company_name       sector
0           0    MMM       3M Company  Industrials
1           1    AOS  A.O. Smith Corp  Industrials

In [68]:
df = df[['company_id', 'Symbol', 'Name', 'Sector']]

In [69]:
df.head()

   company_id Symbol                 Name       Sector
0           0    MMM           3M Company  Industrials
1           1    AOS      A.O. Smith Corp  Industrials
2           2    ABT  Abbott Laboratories  Health Care
3           3   ABBV          AbbVie Inc.  Health Care
4           4   ABMD              Abiomed  Health Care

In [70]:
df.columns = ['company_id', 'ticker', 'company_name', 'sector']

In [71]:
df.head()

   company_id ticker         company_name       sector
0           0    MMM           3M Company  Industrials
1           1    AOS      A.O. Smith Corp  Industrials
2           2    ABT  Abbott Laboratories  Health Care
3           3   ABBV          AbbVie Inc.  Health Care
4           4   ABMD              Abiomed  Health Care

In [72]:
df.to_sql('yt_sp500', engine, index = False, if_exists = 'append')